<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
<div id='a' style='background-color: red; font-size: 4em; padding: 1em;'>a</div>
<div id='b' style='background-color: blue; font-size: 4em; padding: 1em;'>b</div>

<script src='./js/ramjet.min.js'></script>
<script>
    // to repeat, run this from the console!
    ramjet.transform( a, b );
</script>

</body>
</html>
