<% include header %>
<main>
  
  <svg id="white">
  <text x="0" y="0">
    <tspan x="0.5em" y="1.2em">PArtY</tspan>
    <tspan x="0.9em" y="2.1em">tiMe!</tspan>
  </text>
  <pattern id="white-pattern" patternUnits="userSpaceOnUse"
             width="500" height="281" viewbox="0 0 500 281">
  <image xlink:href="http://swa.by/img/party.gif" width="500" height="281" />
</pattern>
</svg>
  <div class="highlight">
<code>  http://pillowparty.me/{width}/{height} </code>
</div>
  
</main>
<% include footer %>