@import url(http://fonts.googleapis.com/css?family=Bevan);
body {
  background-color: #e6e6e6;
}

svg {
  display: block;
  margin: 0 auto;
}
svg text {
  font-family: Bevan;
  font-size: 110px;
}

#white {
  width: 550px;
  height: 281px;
}
#white text {
  fill: url(#white-pattern);
  margin-top: 1em;
}


.highlight {
  position: absolute;
  display: inline-block;
  width: 550px;
  height: 50px;
  color: #fff;
  background-color: #272822;
  margin:0 auto;
  left:0;
  right:0;
    font-family: Consolas, Menlo, "Liberation Mono", monospace;
    font-size: 23px;
    padding-top: 17px;
    padding-left: 10px;
}