@import url(http://fonts.googleapis.com/css?family=Bevan);
body {
  background-color: #e6e6e6;
}

svg {
  display: block;
  margin: 0 auto;
}
svg text {
  font-family: Bevan;
  font-size: 110px;
}

#white {
  width: 550px;
  height: 281px;
}
#white text {
  fill: url(#white-pattern);
}
